.container {
  height: 105%;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  padding: 50px 0 40px 0;
}

.heder {
  height: 170px;
  width: 970px;
}

.menu {
  height: 40px;
  background-color: #545454
}

.menu ul li {
  float: left;
}

.menu ul li a {
  color: #fff;
  padding: 0 30px;
  padding-top: 5px;
  text-decoration: none;
  line-height: 32px;
  display: block;
  font-family: Myriad Pro;
}

.menu ul li a:hover {
  background-color: #353535;
  border-left: #c8c8c8 1px solid;
  border-right: #c8c8c8 1px solid;
  margin-left: -1px;
  margin-right: -1px;
  width: auto;
  height: 35px;
}

.left_menu ul li a {
  text-decoration: none;
  display: block;
  line-height: 40px;
  border-top: #c8c8c8 1px solid;
  height: 100%;
  color: #656363;
  padding-left: 28px;
  padding-top: 4px;
  font-family: Myriad Pro;
}

.left_menu ul li a:hover {
  background-color: #f9f9f9;
  padding-left:40px;
 */}

.left_menu {
  width: 240px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  border-bottom: #c8c8c8 1px solid;
  border-left: #c8c8c8 1px solid;
  border-right: #c8c8c8 1px solid;
}

.box1 {
/* border: black 1px solid; */
height: 700px;
}

.box2 {
/* border: black 1px solid; */
margin-top: 40px;
width: 680px;
display: inline-block;
float: right;
}

.box3 {
border: #c8c8c8 1px solid;
height: 400px;
width: 680px;
}

#bike {
  display: block;
  margin: auto;
}

.box4 {
display: inline-block;
padding: 30px 30px 0 30px;
font-family: Myriad Pro;
color: #656363;
line-height: 22px;
font-size: 14px;
}

.futer {
  background-color: #e1e1e1;
  height: 40px;
}

.futer a {
  text-decoration: none;
  color: #656363;
  line-height: 40px;
  margin: 0 50px 0 25px;
  font-family: Myriad Pro;
}

.futer a:hover {
border-bottom: 1px solid;
}

.copywriting {
  color: #656363;
  display: block;
  float: right;
  line-height: 40px;
  padding-right: 25px;
}
