div {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
}

h1 {
    font-size: 27px;
    margin-top: 50px;
}

img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border: 1px solid #8c8c8c;
}

body {
    background: #F4F4F4;
    font-family: Arial;
}

li {
    text-align: justify; /* Выравнивание по ширине */
}

p {
    text-indent: 40px; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
}

.position {
    text-indent: 0px; /* Отступ первой строки */
}

 hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #C8C8C8; /* Цвет линии для остальных браузеров */
    background-color: #C8C8C8; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
   }